<html>


<body>
<form method="post" action="/isbn">

<h4>Enter ISBN number</h4>
  <input type="text" name="isbn" rows="1" cols="20">
  <input type="submit" class="isbn" value="Check">

</form>


</body>
