<html>


<body>
<form method="post" action="/isbn">
<div>
  <center>

<h1>Enter ISBN number</h1>
  <h5><input type="text" name="isbn" rows="1" cols="20"></h5>
  <input type="submit" class="isbn" value="Check">

</center>
</div>
</form>


</body>
